body {
    background-image: url("../images/background.png");
    background-size: cover;
}

.title {
    font-weight: bold;
    color: white;
    background-color: blueviolet;
    display: inline-block;
    padding: 0.8rem 1.5rem; 
}

.spacer {
    height: 2rem;
}

.img-container {
    border: 1px solid #33cc33;
    font-size: 0.8rem;
}

.character {
    border: 0;
}

#win-lose {
    font-weight: bold;
    color: white;
    background-color: blueviolet;
    display: inline-block;
    padding: 3px;
    margin-top: 3px;
}

#reset {
    margin-top: 5px;
}


