body {
    background-image: url("../images/background.png");
    background-size: cover;
}

.spacer {
    height: 2rem;
}

.img-container {
    border: 1px solid #33cc33;
    font-size: 0.8rem;
}

.character {
    border: 0;
}

#win-lose {
    font-weight: bold;
    color: red;
}

#reset {
    margin-top: 5px;
}


